@use 'variaveis';

.services {
    position: relative;
    width: 100%;
    padding: 104px 0px;
    
    &__title {
        margin-bottom: 70px;
    }

    &__background {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-image: url('../images/background_desktop.jpg');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__carousel {
        text-align: center;

        .slick-slide {
            margin-left: 20px;
            margin-right: 20px;
        }

        &__itens {
            width: 100%;
            margin: 0 auto;
        }

        .itens__title {
            margin-top: 20px;
            margin-left: 0;
            margin-right: 0;
            font-size: 1.1em;
            font-weight: bold;
            border-bottom: 1px solid variaveis.$corDestaqueEscura;
        }
    }

    .images-servicos {
        width: 100%;
        height: 100%;
    }

    &__text {
        font-size: 1.4em;
        width: 80%;
        margin: 50px auto;
    }

    &__button {
        background: linear-gradient(to right, variaveis.$corDestaqueEscura, variaveis.$corDestaqueClara);
        border-radius: 20px;

        .button__link {
            color: #ffffff;
            font-weight: bold;

            .link__image {
                width: 30px;
                margin-left: 6px;
            }
        }
    }
}