@use 'variaveis';
@use 'header';
@use 'banner';
@use 'services';
@use 'sobre';
@use 'portifolio';

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: variaveis.$bgcolor;
}

span {
    font-weight: bold;
}

#destaque {
    color: variaveis.$corDestaqueClara;
}

