@use 'variaveis';
@use 'header';
@use 'banner';
@use 'servicos';
@use 'sobre';

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: variaveis.$bgcolor;
}

